<!DOCTYPE html>
<html>
<body>

<header>
<h1>Title of {{.Title}}</h1>
<nav>
<ul>
<li><a href="hoge">Hoge</a></li>
<li><a href="piyo">Piyo</a></li>
</ul>
</nav>
</header>

<article id="content">

</article>

<footer>
&copy; Copyright 2013 by golang-samples.
</footer>
</body>
</html>
