{{.}}
<!DOCTYPE html>
<head>
    <title>{{.Title}}</title>
    <script>
        window.addEventListener("load", function () {
            var submitter = document.getElementById("submit");
            submitter.addEventListener("click", function() {
                var form = document.getElementById("boop");
                form.submit();
            });
        });
    </script>
    <style>
        background: #808080
    </style>
</head>
<body>
    <form id="boop" method="POST" action="/display">
        <label for="tag">Tag Injection:
            <input name="tag" type="text" value="">
        </label><br>
        <label for="script">Script Injection:
            <input name="script" type="text" value="">
        </label><br>
        <label for="attr_double">Double Quote Attribute Injection:
            <input name="attr_double" type="text" value="">
        </label><br>
        <label for="attr_single">Single Quote Attribute Injection:
            <input name="attr_single" type="text" value="">
        </label><br>
        <label for="attr_onevent">OnEvent Attribute Injection:
            <input name="attr_onevent" type="text" value="">
        </label><br>
        <label for="attr_src">Source Attribute Injection:
            <input name="attr_src" type="text" value="">
        </label><br>
        <label for="style">CSS/Style Injection:
            <input name="style" type="text" value="">
        </label><br>
        <button id="submit">Submit</button>
    </form>
</body>
</html>
